body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
  background-color: #1F2937;
  display: flex;
  height: 400px;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 15% 100px;
}
.header-logo-links {
  display: flex;
  justify-content: space-between;
  color: #E5E7EB;
  font-size: 18px;
  align-items: center;
}
img.header-img {
  width: 320px;
  height: 180px;
}
a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}
.ul-header {
  display: flex;
  gap: 16px;
  list-style: none;
}
.header-left h1 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: bolder;
  margin: 0;
}
.header-left p {
  color: #E5E7EB;
  font-size: 18px;
  margin: 0;
  padding: 8px 0 16px;
}
.header-left button {
  background-color: #3882F6;
  color: #E5E7EB;
  font-size: 18px;
  padding: 8px 32px;
  border-style: none;
  border-radius: 8px;
  font-weight: 600;
}
.header-content {
  display: flex;
  justify-content: space-between;
  gap: 10%;
}
.section-1 {
  height: 400px;
  padding: 0 15% 100px;
}
.section-1 h2 {
  margin: 0;
  padding: 64px 0;
  text-align: center;
  color: #1F2937;
  font-size: 32px;
  font-weight: bolder;
}
.section-1-cont {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-weight: 300;
  color: #1F2937;
}
.section-1-cont div{
  width: 150px;
  box-sizing: border-box;
}
.section-1-cont div figure {
  border-width: 4px;
  border-style: solid;
  border-color: #3882F6;
  margin: 0;
  width: 100%;
  height: 150px;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 20px;
}
